/* You can add global styles to this file, and also import other style files */
/* @import url("../css/bootstrap.min.css") */


body{
  scroll-behavior:smooth;
}

input.ng-valid, input.ng-valid  {
  border-left: 10px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 10px solid #a94442; /* red */
}

input.ng-invalid-password-match{
  border-left: 10px solid #a94442; /* red */
}


input.ng-invalid-availability{
  border-left: 10px solid #a94442; /* red */
}



.alert-danger{
  padding: 5px;
  font-size: 14px;
}

/* Index page css */












/* portfolio */
