<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
    <a class=" mb-2 navbar-brand" href="#">Fitness blog</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
    <span class="collapse navbar-collapse" id="navcol-1">
                <ul class="ml-3 mb-1 nav nav-tabs card-header-tabs mr-auto">
                    <li role="presentation"><a class="nav-link nav-item" routerLink="">Home</a></li>
                    <li role="presentation"><a class="nav-link nav-item" routerLinkActive="active"
                                               routerLink="articles">Articles</a>
                    </li>
                    <li role="presentation"><a class="nav-link nav-item" routerLinkActive="active"
                                               routerLink="products">Shop</a></li>

                    <li role="presentation"><a class="nav-link nav-item" routerLinkActive="active" routerLink="about">About Us</a></li>
                  <li role="presentation"><a class="nav-link nav-item" routerLinkActive="active" routerLink="Support">Support</a></li>
                </ul>
            </span>


    <div class="dropdown  border rounded" style="margin-right: 30px;" *ngIf="authenticationService.isAuthenticated">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
         href="#">{{authenticationService.getUsername()}}
      </a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" role="presentation"
           routerLink="/users/profile/{{authenticationService.getUsername()}}">Profile</a>
        <a *ngIf="authenticationService.isAdmin()" [routerLink]="['/admin',{outlets:{'admin-outlet': ['article-add']}}]"
           class="dropdown-item" role="presentation">Admin Panel</a>
      </div>

    </div>


    <span class="navbar-text actions">
              <div *ngIf="!authenticationService.isAuthenticated">
                <a class="login" routerLink="users/login">Log In</a>
                <a class="btn btn-warning " role="button" routerLink="users/register">Register</a>
              </div>



          <a (click)="logout()" *ngIf="authenticationService.isAuthenticated" class="btn btn-light action-button"
             role="button">Logout</a>


            </span>
  </div>

</nav>
