<main class="article-clean">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
          <h1 class="text-center">{{article.title}}</h1>
          <p class="text-center"><span class="by">by</span> <a href="#">{{article.author.username}}</a><span
            class="date">{{article.publishedOn}}</span></p><img class="img-fluid" src="{{article.imageUrl}}"></div>
        <div class="text">
          <p>{{article.description}}</p>
        </div>

      </div>

      <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <!--form-comment-->
        <div class="form-comment">
          <app-comment-form [publishedEntityId]="article.id"></app-comment-form>
        </div>


        <!--comment -->

        <div class="comments">
           <app-comment *ngFor="let comment of article.comments" [comment]="comment"></app-comment>
        </div>

      </div>


    </div>
  </div>
</main>
