<div>
  <a routerLink="{{article.id}}}">
    <img class="img-fluid" style="height: 220px" src="{{article.imageUrl}}"/></a>
  <h3 class="name">{{article.title}}</h3>
  <p class="description">
   {{article.description.substr(0,30)}}
  </p>
  <hr class="article-separator"/>
  <div class="article-additional-data">
    <span>{{article.authorUsername}}</span>
    <span>{{article.publishedOn}}</span>
  </div>
  <a class="action" routerLink="{{article.id}}"
  ><i class="fa fa-arrow-circle-right"></i
  ></a>
</div>
