<div>
  <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
  <h3 class="name">Article Title</h3>
  <p class="description">
    Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
    Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
    interdum justo suscipit id.
  </p>
  <hr class="article-separator"/>
  <div class="article-additional-data">
    <span>username</span>
    <span>date</span>
  </div>
  <a class="action" routerLink="54rds"
  ><i class="fa fa-arrow-circle-right"></i
  ></a>
</div>
