<header
  class="masthead"
  style="
        background: url('assets/img/bg-pattern.png'),
          linear-gradient(to left, #7b4397, #dc2430);
        height: 100%;
      "
>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h1 class="mb-5">Start your fitness journey right now</h1>
          <a
            class="btn btn-outline-warning btn-xl js-scroll-trigger"
            role="button"
            routerLink="/users/register"
          >Start Now for Free!</a
          >
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="screen">
          <img class="img-fluid" src="assets/img/muscle-svg.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<section id="features" class="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Get in better shape</h2>
      <p class="text-muted">Upgrade yourself</p>
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-8 my-auto" style="margin: 0 auto;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-heartbeat"></i>
                <h3>Get in better shape</h3>
                <p class="text-muted">With the help of our scientific articles you will get in the best shape ever!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fas fa-store"></i>
                <h3>Find the best products in our shop</h3>
                <p class="text-muted">In our shop you can find the best products available on the market!</p>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="feature-item">
                <i class="fas fa-arrow-up"></i>
                <h3>Future development</h3>
                <p class="text-muted">Our team is dedicated to develop our services in the future</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="cta"
  style="background-image: url('assets/img/sport-2264825_1920.jpg')"
>
  <div class="cta-content">
    <div class="container" style="text-align: center">
      <h2 class="mb-5" style="margin: 0 auto">
        Stop waiting.<br />Start now.<br />
      </h2>
      <a
        class="btn btn-outline-warning btn-xl js-scroll-trigger"
        role="button"
        routerLink="/users/register"
      >Let's Get Started!</a
      >
    </div>
  </div>
  <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
  <div class="container">
    <h2><span>We are waiting for you!</span></h2>
  </div>
</section>
