<main>
  <div class="article-list">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Latest Articles</h2>
        <p class="text-center">Our latest articles.</p>
      </div>

      <div class="row articles">
        <div class="col-sm-6 col-md-4 item">
          <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
          <h3 class="name">Article Title</h3>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
            interdum justo suscipit id.
          </p>
          <hr class="article-separator"/>
          <div class="article-additional-data">
            <span>username</span>
            <span>date</span>
          </div>
          <a class="action" href="#"
          ><i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>

        <div class="col-sm-6 col-md-4 item">
          <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
          <h3 class="name">Article Title</h3>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
            interdum justo suscipit id.
          </p>
          <hr class="article-separator"/>
          <div class="article-additional-data">
            <span>username</span>
            <span>date</span>
          </div>
          <a class="action" href="#"
          ><i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>

        <div class="col-sm-6 col-md-4 item">
          <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
          <h3 class="name">Article Title</h3>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
            interdum justo suscipit id.
          </p>
          <hr class="article-separator"/>
          <div class="article-additional-data">
            <span>username</span>
            <span>date</span>
          </div>
          <a class="action" href="#"
          ><i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>


        <div class="col-sm-6 col-md-4 item">
          <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
          <h3 class="name">Article Title</h3>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
            interdum justo suscipit id.
          </p>
          <hr class="article-separator"/>
          <div class="article-additional-data">
            <span>username</span>
            <span>date</span>
          </div>
          <a class="action" href="#"
          ><i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>

        <div class="col-sm-6 col-md-4 item">
          <a href="#"><img class="img-fluid" src="img/desk.jpg"/></a>
          <h3 class="name">Article Title</h3>
          <p class="description">
            Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
            Praesent aliquam in tellus eu gravida. Aliquam varius finibus est,
            interdum justo suscipit id.
          </p>
          <hr class="article-separator"/>
          <div class="article-additional-data">
            <span>username</span>
            <span>date</span>
          </div>
          <a class="action" href="#"
          ><i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>

      </div>
    </div>
  </div>
</main>
