<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://github.com/Valeri12580/Gladiators"><i class="fab fa-github"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/">Home</a></li>
      <li class="list-inline-item"><a href="/">Articles</a></li>
      <li class="list-inline-item"><a href="/">Shop</a></li>
      <li class="list-inline-item"><a href="/">About us</a></li>
    </ul>
    <p class="copyright">Fitness Blog © 2020</p>
  </footer>
</div>
