<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://github.com/Valeri12580"><i class="fab fa-github"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a routerLink="">Home</a></li>
      <li class="list-inline-item"><a routerLink="articles">Articles</a></li>
      <li class="list-inline-item"><a routerLink="shop">Shop</a></li>
      <li class="list-inline-item"><a routerLink="about">About us</a></li>
    </ul>
    <p class="copyright">Fitness Blog © 2020</p>
  </footer>
</div>
