<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
    <a class="navbar-brand" href="#">Fitness blog</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
    <span class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="articles">Articles</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="shop">Shop</a></li>

                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="about">About Us</a></li>
                </ul>
            </span>


    <div class="dropdown  border rounded" style="margin-right: 30px;" *ngIf="authenticationService.isAuthenticated">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">{{authenticationService.username}}
      </a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" role="presentation" routerLink="/users/profile/{{authenticationService.username}}">Profile</a>
        <a *ngIf="authenticationService.isAdmin" routerLink="/admin" class="dropdown-item" role="presentation">Admin Panel</a>
      </div>

    </div>


    <span class="navbar-text actions">
              <div *ngIf="!authenticationService.isAuthenticated">
                <a class="login" routerLink="users/login">Log In</a>
                <a class="btn btn-warning " role="button" routerLink="users/register">Register</a>
              </div>



          <a (click)="logout()" *ngIf="authenticationService.isAuthenticated" class="btn btn-light action-button"
             role="button">Logout</a>


            </span>
  </div>

</nav>
