
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img src="{{comment.author.imageUrl}}" style="height: 75px;width: 130px" class="img img-rounded img-fluid"/>
        <p class="text-secondary text-center mt-2">{{comment.timePublishedOn}}</p>
        <p style="margin-top: -20px" class=" text-secondary text-center">{{comment.datePublishedOn}}</p>
      </div>
      <div class="col-md-10">
        <p>
          <strong class="username">{{comment.author.username}}</strong>
<!--            <span class="float-right"><i class="text-warning fa fa-star"></i></span>-->
<!--          <span class="float-right"><i class="text-warning fa fa-star"></i></span>-->
<!--          <span class="float-right"><i class="text-warning fa fa-star"></i></span>-->
<!--          <span class="float-right"><i class="text-warning fa fa-star"></i></span>-->

        </p>
        <div class="clearfix"></div>
        <p class="description">{{comment.description}}</p>
<!--        <p>-->
<!--          <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>-->
<!--          <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>-->
<!--        </p>-->
      </div>
    </div>

  </div>
</div>
