<form #commentForm="ngForm" (ngSubmit)="postComment(commentForm)">
  <div class="form-group text-center">
    <label for="description" class="mb-3" style="font-size: 28px">Publish comment</label>
    <fieldset *ngIf="authenticationService.isAuthenticated; else not">
      <textarea #description="ngModel" [(ngModel)]="iCommentForm.description" name="description" class="form-control"
                id="description"
                rows="3" minlength="20"></textarea>
      <div *ngIf="description.errors?.minlength" class="alert alert-danger" role="alert">
        The required min length is {{description.errors.minlength.requiredLength}} symbols

      </div>
      <div class="text-center mt-3">
        <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary">Submit</button>
      </div>

    </fieldset>
    <ng-template #not>
      <div style="font-size: 18px" class="form-group text-center">
        You need to be logged to post comment!
      </div>
    </ng-template>



  </div>

</form>
