<div>
  <a routerLink="{{product.id}}">
    <img class="img-fluid" style="height: 220px" src="{{product.imageUrl}}"/></a>
  <h3 class="name">{{product.title}}</h3>
  <p class="description">
    {{product.description.substr(0, 30)}}
  </p>
  <hr class="article-separator"/>
  <div class="article-additional-data">
    <span>Seller: {{product.author.username}}</span>
    <span>Quantity: {{product.quantity}}</span>
    <span>Price: {{product.price}} лв.</span>

  </div>
  <a class="action" routerLink="{{product.id}}"
  ><i class="fa fa-arrow-circle-right"></i
  ></a>
  <a *ngIf="authenticationService.isAdmin" class="btn btn-primary rounded-pill w-25 " type="button"
     style="margin-top: 20px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;"
     (click)="deleteProduct(product.id)">Delete
  </a>
</div>

